<div class="toolbar tabbar-icons toolbar-bottom mobile-only">
  <footer>
    <div class="toolbar-inner">
      <a href="#tab-1"  data-panel=".panel-left" class="tab-link panel-open">
        <span class="material-symbols-outlined">
          menu
        </span>
        <span class="tabbar-label">Opciones</span>
      </a>
      <a href="#tab-1" class="tab-link">
        <span class="material-symbols-outlined">
          inventory_2
        </span>
        <span class="tabbar-label">Productos</span>
      </a>

      <a href="#tab-3" class="tab-link">
        <span class="material-symbols-outlined">
          order_approve
        </span>
        <span class="tabbar-label">Órdenes</span>
      </a>
      <a href="#tab-3" class="tab-link">
        <span class="material-symbols-outlined">extension</span>
        <span class="tabbar-label">Apps</span>
      </a>
    </div>
  </footer>
</div>