
    <div class="navbar">
      <header >
      <div class="navbar-bg" style="background-color: #0a3a6c70;"></div>
      <div class="navbar-inner">
        <div class="title">
          <h5 style="color: #fff;">Bievenido, <span id="name"></span></h5>
        </div>
      </div>
    </header>
    </div>

  