:root {

/* CSS HEX */
--chathams-blue: #374d6a;
--mint-tulip: #c1e1f2;
--porcelain: #e7ecec;
--eastern-blue: #374d6a;
--neptune: #78a2ba;
--rock-blue: #99b7cf;
--gull-gray: #95a0b4;
--pale-sky: #646c81;
--nevada: #66757b;
--gull-gray: #96acb3;
--color-second: #e40000;
--color-tercero: #e40000;
--color-bg-card-category: #f4f6f7;
--color-bg-left-sidegar: #f4f6f7;

}